Loaded 941,649 matches from 139 files (doubles excluded)

Match-level columns: 11
Common player stats: 19

Player-centric dataset shape: (1883298, 50)
  - 1,883,298 rows (2x matches, one per player)
  - 50 columns

Created 14 delta features:
  - delta_1stIn
  - delta_1stWon
  - delta_2ndWon
  - delta_SvGms
  - delta_ace
  - delta_age
  - delta_bpFaced
  - delta_bpSaved
  - delta_df
  - delta_ht
  - delta_rank
  - delta_rank_points
  - delta_seed
  - delta_svpt

,player_name,opponent_name,player_rank,opponent_rank,delta_rank,player_age,opponent_age,delta_age,win
0,Doug Smith,Peter Ledbetter,NaN,NaN,NaN,NaN,24.0,NaN,1
1,Louis Pretorius,Maurice Pollock,NaN,NaN,NaN,NaN,NaN,NaN,1
2,Cecil Pedlow,John Mulvey,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Tom Okker,Unknown Fearmon,NaN,NaN,NaN,24.3,NaN,NaN,1
4,Armistead Neely,Harry Sheridan,NaN,NaN,NaN,21.3,NaN,NaN,1
5,John Mcgrath,Brendan Kelly,NaN,NaN,NaN,NaN,NaN,NaN,1
6,Bob Howe,Kenneth Reid,NaN,NaN,NaN,42.9,NaN,NaN,1
7,Lew Hoad,Jim Buckley,NaN,NaN,NaN,33.6,31.2,2.4,1
8,Graydon Garner,Vivian Gotto,NaN,NaN,NaN,23.0,46.8,-23.8,1
9,Des Foley,Peter Mockler,NaN,NaN,NaN,NaN,NaN,NaN,1

Win label distribution:
win
1    941649
0    941649
Name: count, dtype: int64

Win rate: 50.0%

Final dataset shape: (1883298, 64)
Columns by type:
  - player_* columns: 19
  - opponent_* columns: 19
  - delta_* columns: 14

Matches after 2005: 1,034,362 rows
Rows with at least one missing delta feature: 1,006,074
Percentage: 97.27%

Missing values per delta feature (sorted least to most):
--------------------------------------------------
delta_age                   0.55%
delta_rank                 14.67%
delta_rank_points          14.70%
delta_ht                   49.11%
delta_svpt                 67.68%
delta_ace                  67.68%
delta_1stIn                67.68%
delta_1stWon               67.68%
delta_bpSaved              67.68%
delta_df                   67.68%
delta_2ndWon               67.68%
delta_bpFaced              67.68%
delta_SvGms                67.68%
delta_seed                 91.96%

Percentage of matches WITH detailed stats by year:
--------------------------------------------------
year
2006    11.957729
2007    11.153432
2008    10.024752
2009    10.854071
2010    37.180681
2011    33.974606
2012    32.720969
2013    30.232637
2014    28.802243
2015    27.081460
2016    37.500000
2017    37.666503
2018    42.105961
2019    40.528288
2020    50.042845
2021    45.796129
2022    43.325695
2023    42.960831
2024    43.320383


Percentage of matches WITH detailed stats by tournament level:
--------------------------------------------------

C:\Users\shlok\AppData\Local\Temp\ipykernel_37520\2791250408.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_post_2005['has_match_stats'] = df_post_2005['delta_ace'].notna()

tourney_level
F     99.135447
O     95.312500
M     94.212736
A     90.381185
C     81.574974
G     79.582328
D     26.759443
15     0.000000
25     0.000000
S      0.000000

Rows before: 1,034,362
Rows after:  392,984
Dropped:     641,378 (62.0%)

Remaining tournament levels: ['A', 'C', 'F', 'G', 'M', 'O']

Olympic matches: 640
Non-Olympic matches: 392,344

Olympic matches per year:
------------------------------
year
2008    128
2012    128
2016    128
2021    128
2024    128

Tournaments matching 'olympic' in name:
------------------------------------------------------------
 year     tourney_name tourney_level
 2008 Beijing Olympics             A
 2012  London Olympics             A
 2016     Rio Olympics             A
 2021   Tokyo Olympics             A
 2024   Paris Olympics             O

Missingness summary (delta features only):
--------------------------------------------------
Delta features with missing values: 13
                   missing_count  missing_pct
delta_svpt                 61368        15.62
delta_ace                  61368        15.62
delta_1stIn                61368        15.62
delta_1stWon               61368        15.62
delta_bpSaved              61368        15.62
delta_df                   61368        15.62
delta_SvGms                61372        15.62
delta_2ndWon               61368        15.62
delta_bpFaced              61368        15.62
delta_ht                   53776        13.68
delta_rank_points          12850         3.27
delta_rank                 12792         3.26
delta_age                    300         0.08

Records with at least one missing delta feature: 104,942 (26.7%)

Missingness summary (all columns):
--------------------------------------------------
Columns with missing values: 49
                      missing_count  missing_pct
opponent_entry               315315        80.24
player_entry                 315315        80.24
opponent_seed                251009        63.87
player_seed                  251009        63.87
minutes                       72638        18.48
delta_bpFaced                 61368        15.62
delta_1stIn                   61368        15.62
opponent_bpSaved              61368        15.62
player_df                     61368        15.62
opponent_df                   61368        15.62
player_SvGms                  61372        15.62
delta_ace                     61368        15.62
delta_1stWon                  61368        15.62
opponent_SvGms                61372        15.62
player_2ndWon                 61368        15.62
opponent_2ndWon               61368        15.62
player_bpFaced                61368        15.62
opponent_bpFaced              61368        15.62
player_bpSaved                61368        15.62
delta_bpSaved                 61368        15.62
delta_df                      61368        15.62
opponent_1stWon               61368        15.62
player_svpt                   61368        15.62
opponent_svpt                 61368        15.62
delta_2ndWon                  61368        15.62
delta_SvGms                   61372        15.62
delta_svpt                    61368        15.62
player_ace                    61368        15.62
opponent_ace                  61368        15.62
player_1stIn                  61368        15.62
opponent_1stIn                61368        15.62
player_1stWon                 61368        15.62
delta_ht                      53776        13.68
opponent_ht                   29820         7.59
player_ht                     29820         7.59
delta_rank_points             12850         3.27
delta_rank                    12792         3.26
player_rank_points             6729         1.71
opponent_rank_points           6729         1.71
opponent_rank                  6700         1.70
player_rank                    6700         1.70
delta_age                       300         0.08
opponent_age                    150         0.04
player_age                      150         0.04
score                            30         0.01
opponent_hand                     7         0.00
player_hand                       7         0.00
opponent_ioc                      1         0.00
player_ioc                        1         0.00

Rows before dropping missing delta features: 392,984
Rows after dropping missing delta features:  288,042
Rows dropped: 104,942 (26.70%)

Missingness summary (after dropping records with missing delta features):
--------------------------------------------------
Columns with missing values: 5
                missing_count  missing_pct
player_entry           233979        81.23
opponent_entry         233979        81.23
player_seed            178820        62.08
opponent_seed          178820        62.08
minutes                 10888         3.78

Saved to: ..\data\clean\atp_matches_cleaned.csv
Final row count: 288,042